.font{
    font-family: 'Satisfy', cursive;
}
.title{
   
    font-size: 75px;
    text-shadow: -1px 0 gray, 0 1px white, 1px 0 white, 0 -1px black;
}
.brand{
    font-family: 'Vast Shadow', cursive;
    font-size:75px
}