body {
}


.background{
    background-image: ""
}
.titleback{
   margin-right: -4rem;
    border: 5px outset ;
    padding: 10px;
    box-shadow: 5px 10px;
    border-radius: 50rem;
    margin-bottom: .5rem;
    font-size: 100px;
}

.nav{
    padding-right: 100%;
}
.book{

    border: 5px outset ;
    padding: 10px;
    box-shadow: 5px 10px;
    border-radius: 50rem;
    margin-bottom: .5rem;
    background-color: wheat ;
}
.navBAR{
    box-shadow: 0px 10px rgb(130, 190, 220);

    /* border-radius: 50rem; */
    margin-bottom: .5rem;
}
.recipe{
    box-shadow: 5px 10px;
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-right: 5px;
   
}
.recipeTitle{
    font-size: 75px;
    text-shadow: -1px 0 gray, 0 3px white, 2px 0 white, 0 -1px black;
}
.titlePlan{
    font-size: 50px;
    text-shadow: -1px 0 gray, 0 1px white, 1px 0 black, 0 -1px black;
    border-radius: 50rem;
   
}
.plan{
    border: 5px outset ;
    padding: 15px;
    box-shadow: 5px 10px;
    border-radius: 50rem;
    margin-top: 20px;
    font-size: 60px;
    text-shadow: -1px 0 gray, 0 1px white, 1px 0 black, 0 -1px black;
padding-top: 30px;

}
.Days{
    border: 9px outset ;

    box-shadow: 5px 10px;
    /* border-radius: 50rem; */
    margin-top: 20px;
   
}

.plans{
    font-size: 20px;
    text-shadow: -1px 0 gray, 0 1px white, 1px 0 black, 0 -1px black;
    border-radius: 50rem;
}
.cards{
    border: 5px outset ;
    padding: 2px;
    box-shadow: 5px 10px;
    border-radius: 1rem;
    margin-top: 20px;
    color:white;
  


   

}
.textSizer {
    font-size: 75px;
}
@media screen and (max-width: 500px) {
    .textSizer{
        font-size: 36px;
    }
}
.backgroundBoi{
    background-image: url("")
    ;
    padding-bottom: 100%;
}
.forms{
    color:white;
    border: 5px outset silver ;
    padding: 7px;
    box-shadow: 5px 10p  ;
    border-radius: 5rem;
    margin-top: 20px;
}.noLogged{
   margin-top:20px;
   text-align: center;
}
.day{

}

.search{
    border: 5px outset silver ;
    padding: 7px;
    box-shadow: 5px 10p  ;
    border-radius: 5rem;
    margin-top: 20px;
}
.recipecard{
    box-shadow: 5px 10px;
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-right: 5px;
    text-shadow: -1px 0 gray, 0 1px white, 1px 0 black, 0 -1px black;
}

body {
    background-image: linear-gradient(45deg,black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 200px 200px;
    background-position: 0 0, 0 100px, 100px -100px, -100px 0px;
  }
#container {
    width: 500px;
    margin: auto;
}
/*Neon*/
p {
    text-align: center;
    font-size: 7em;
    margin: 20px 0 20px 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.red {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
.redHover {
    color: rgb(191, 194, 26);
    -webkit-animation: none;
    animation: none;
}
p:nth-child(2) a {
    font-size: 1.5em;
    color: #228DFF;
    font-family: Iceland;
}
p:nth-child(2) a:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
.yellow{
    color: #FFDD1B;
    font-family: Pacifico;
}
.yellowHover {
    -webkit-animation: neon3 0.5s ease-in-out infinite alternate;
    animation: neon3 2.5 ease-in-out infinite alternate;
}
p:nth-child(4) a {
    color: #B6FF00;
    font-family: "Press Start 2P";
    font-size: 0.8em;
}
p:nth-child(4) a:hover {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
}
.orange {
    color: #FF9900;
    font-family: Audiowide;
}
.orangeHover {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}
p:nth-child(6) a {
    color: #BA01FF;
    font-family: Vampiro One;
}
p:nth-child(6) a:hover {
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
}
p a:hover {
    color: #ffffff;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}
@-webkit-keyframes neon3 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 0 #FFDD1B, 0 0 0 #FFDD1B, 0 0 0 #FFDD1B, 0 0 0 #FFDD1B, 0 0 px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 0px #FFDD1B, 0 0 0px #FFDD1B, 0 0 0px #FFDD1B, 0 0 0px #FFDD1B, 0 00px #FFDD1B;
    }
}
@-webkit-keyframes neon4 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
}
@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
}
@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}
/*glow for mozilla*/
/*glow*/
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}
@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}
@keyframes neon3 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
@keyframes neon4 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
}
@keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
}
@keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}
/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
    #container {
        width: 100%;
    }
    p {
        font-size: 3.5em;
    }
}


